<component name="libraryTable">
  <library name="SpringIOC-1.0-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/SpringIOC-1.0-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/SpringIOC-1.0-SNAPSHOT.jar!/" />
    </SOURCES>
  </library>
</component>